server:
  port: 8081
  servlet:
    context-path: "/booking-app"
spring:
  profiles:
    active: @spring.profiles.active@
  task:
    scheduling:
      pool:
        size: 2
  jpa:
    show-sql: true
    generate-ddl: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    hibernate:
      ddl-auto: create-drop
  datasource:
#    url: jdbc:postgresql://host.docker.internal:30032/hotel_db?currentSchema=hotel
    url: jdbc:postgresql://localhost:30032/hotel_db?currentSchema=hotel
    username: postgres
    password: postgres
    hikari:
      connection-timeout: 50000
      maximum-pool-size: 100
      idle-timeout: 600000             # 1 минута
      max-lifetime: 30000
  liquibase:
    enabled: false
    change-log: classpath:/changelog.yml
    user: postgres
    password: postgres
    url: jdbc:postgresql://localhost:30032/hotel_db?currentSchema=hotel
#    url: jdbc:postgresql://host.docker.internal:30032/hotel_db?currentSchema=hotel
    default-schema: hotel
    liquibase-schema: hotel
    parameters:
      defaultSchemaName: hotel

  sql:
    init:
      mode: NEVER
      data-locations: classpath:data.sql

scheduler:
  count-apart: "0 */5 * * * *"
  rating: "0 */5 * * * *"
logging:
  level:
    liquibase: info


